* {
  box-sizing: border-box;
}

:root {
  --primary-color: #dc2c5d;
  --scondary-color: #56195b;
  --dev-color: red;
}

/* base */
html, body, #root, .container {
  height: 100%;
}


.container {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid var(--dev-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/************************************************/
/* Header */
.header{
  width: 100%;
  padding: 0 20%;
  border-top: 5px solid var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__description {
  border: 1px solid var(--dev-color);
  width: 100%;
  min-width: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media(min-width: 700px) {
  .header__description {
    flex-direction: row;
  }
}

.header__title {
  margin: 0;
  font-size: 20px;
  color: var(--scondary-color);
}

@media(min-width: 700px) {
  .header__title {
    font-size: 32px;
  }
}

.header__img {
  border-radius: 50%;
  margin-bottom: 20px;
}

@media(min-width: 700px) {
  .header__img {
    margin: 0 20px 0 0;
  }
}


/************************************************/
/* Search */