@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    background-color: #ecf0f1;
}

.App{
    background-color: #ecf0f1;
}
  
.App-header {
    text-align: center;
    background-color: #ecf0f1;
    height: 200px;
    padding: 30px;
    color: white;
}

.App-title {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #e82e5b;
    margin-top: 30px;
}


.search-input{
    margin: auto;
    width: 75%;
    margin: 5px 10em;
    margin-bottom: 10px;
    padding: 5px;
}

.list-group-item{
    margin: 3px 10em;
}

.edit-icon{
    float: right;
    color: #e82e5b;
}
input{
    width: 100%;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
  .App{
    width: 100%;
    overflow-x: hidden;
  }

  .App-header{
    height: 50px;
    padding: 0;
  }

  .App-title{
      font-size: 30px;
  }

  .search-input{
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }

  .list-group{
    align-items: center;
  }

  .list-group-item{
    margin: 5px;
    width: 15em;
  }
  
}

