* {
  margin: 0px;
  padding: 0px;
}
  
*,
*:after,
*:before {
   box-sizing: border-box;
}
    
html {
  font-size: 62.5% // 1rem = 10px, 1.5rem = 15px...
}
  

body {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.4rem;
  color: #000;
  height: 100%;
}
  

img {
  max-width: 100%;
}
  